<!DOCTYPE html>
  <%- include('../partials/head'); %>

  <body class="container">

    <%- include('../partials/header', {pagina: 'Sobre'}); %>
    
    <h1>Um projeto desenvolvido para esutudo de EJS</h1>

    <%- include('../partials/footer'); %>
  </body>

</html>